        <footer aria-label="Footer with student support and employee resources" role="contentinfo">
            <p class="rights" role="contentinfo" aria-label="Green River College Copyright">© 2019 GREEN RIVER COLLEGE, ALL RIGHTS RESERVED &nbsp; &nbsp;
                | <a href="https://www.greenriver.edu/privacy/">Privacy</a>
                | <a href="https://www.greenriver.edu/accessibility-disclaimer/">Accessibility &amp; Disclaimers</a>
                | <a href="https://www.greenriver.edu/consumer-information/">Consumer Information</a>
                | <a href="https://www.greenriver.edu/campus/human-resources/careers/">Careers</a>
                | <a href="https://www.greenriver.edu/campus/welcome-desk/main-campus-map/">Main Campus Map</a>
                | <a href="https://www.greenriver.edu/site-map/">Site Map</a>
                | <a href="https://www.greenriver.edu/site-feedback/">Site Feedback</a>
                | <a href="https://www.greenriver.edu/campus/hours/">Campus Hours</a>
            </p>
        </footer>
        <script src="scripts/script.js"></script>
        </body>
</html>