<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <span></span>
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs navbar-nav">

                <check if="{{ isset(@SESSION.user) }}">
                    <true>
                        <li class="nav-item">
                        <li><a class="nav-link welcome-tab" href="home">Welcome {{ (@SESSION.user)->getFirstName() }}!</a></li>
                        </li>
                    </true>
                    <false>
                        <li class="nav-item">
                            <a class="nav-link welcome-tab" href="login">Login</a>
                        </li>
                    </false>
                </check>
            <li class="nav-item">
                <a class="nav-link student-tab" href="student-list">Student Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link logs-tab" href="case-log" tabindex="-1" aria-disabled="true">Case Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link reports-tab" href="reports">Reports</a>
            </li>
            <check if="{{ isset(@SESSION.user) }}">
                <true>
                    <li class="nav-item">
                        <a class="nav-link logout-tab" href="logout">Logout</a>
                    </li>
                </true>
            </check>
        </ul>
    </div>
    </div>
</nav>