
<!--
HTML markup for the Student Information Form page
Author: Anthony Gutierrez, Jo Cichon, Mehdi Jokar, Sayed Sadat
File: home.php
Date: 10/10/2023
-->

<include href="views/includes/header.html"></include>

<!--add new student form-->
<div class="p-4 container w-75">
    <h3>Add New Student</h3>
    <hr>

    <form action="#" method="post">

        <!--row 1-->
        <div class="row pt-4">
            <!--col 1-->
            <div class="col-sm">
                <div class="container">
                    <div class="row mb-3">
                        <input type="text" class="form-control" id="ctclink_id"
                               name="ctclink_id" placeholder="Student Id" value="">
                    </div>
                    <div class="row mb-3">
                        <input type="text" class="form-control" id="first_name"
                               name="first_name" placeholder="First Name" value="">
                    </div>
                    <div class="row mb-3">
                        <input type="text" class="form-control" id="middle_name"
                               name="middle_name" placeholder="Middle Name" value="">
                    </div>
                    <div class="row mb-3">
                        <input type="text" class="form-control" id="last_name"
                               name="last_name" placeholder="Last Name" value="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="pronouns" >Pronouns</label>
                        <select class="form-select" id="pronouns" name="pronouns">
                            <option value="">select...</option>
                            <option value="they/them">they/them</option>
                            <option value="she/her">she/her</option>
                            <option value="he/him">he/him</option>
                            <option value="other">other</option>
                        </select>

                    </div>
                </div>
            </div>

            <!--col 2-->
            <!-- image upload -->
            <div class="col-sm mb-3">
                    <textarea class="form-control" id="image_upload" rows="10"
                              placeholder="Upload image here..."></textarea>
            </div>
        </div>

        <!--row 2-->
        <div class="row mb-3">
            <div class="input-group mb-3">
                <label class="input-group-text" for="tribe_name">Tribe</label>
                <select class="form-select" id="tribe_name" name="tribe_name">
                    <option value="">select...</option>
                    <option value="Muckleshoot">Muckleshoot Indian Tribe</option>
                    <option value="Cherokee">Cherokee Nation</option>
                    <option value="Choctaw">Choctaw Nation</option>
                    <option value="Turtle_mt">Choctaw Nation</option>
                    <option value="Confederated">Confederated Tribe of Colville</option>
                    <option value="Navajo">Navajo Nation</option>
                    <option value="Quileute">Quileute Tribe</option>
                    <option value="Suquamish">Suquamish Tribe</option>
                    <option value="Tlighit">Tlingit</option>
                    <option value="Blackfeet">Blackfeet</option>
                    <option value="Samish">Samish</option>
                    <option value="Snoqualmie">Snoqualmie</option>
                    <option value="Osage">Osage</option>
                    <option value="Potawatomie">Potawatomie</option>
                    <option value="Chicksaw">Chicksaw</option>
                    <option value="Standing_rock">Standing Rock Sioux</option>
                    <option value="Sioux">Sioux</option>
                </select>
            </div>
        </div>

        <!--row 3-->
        <div class="row mb-3">
            <div class="input-group mb-3">
                <label class="input-group-text" for="cte_program">CTE Program</label>
                <select class="form-select" id="cte_program" name="cte_program" value="">
                    <option selected>select...</option>
                    <option value="Forest Resource Management, BAS">Forest Resource Management, BAS</option>
                    <option value="Forestry, AAS">Forestry, AAS</option>
                    <option value="Geographic Information Systems, AAS">Geographic Information Systems, AAS</option>
                    <option value="Park Management, AAS">Park Management, AAS</option>
                    <option value="Water Quality, AAS">Water Quality, AAS</option>
                    <option value="Wildland Fire, AAS">Wildland Fire, AAS</option>
                    <option value="AAS-T">AAS-T</option>
                </select>
            </div>
        </div>


        <!--row 4-->
        <div class="row mb-3">
            <!-- email -->
            <div class="col-sm">
                <input type="email" class="form-control" id="email"
                       name="email" placeholder="Email" value="">
            </div>
            <!-- phone -->
            <div class="col-sm">
                <input type="tel" class="form-control" id="phone"
                       name="phone" placeholder="206-555-1234" value="">
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="clothing_size">Clothing Size</label>
                    <select class="form-select" id="clothing_size" name="clothing_size" value="">
                        <option selected>select...</option>
                        <option value="xs">xs</option>
                        <option value="s">s</option>
                        <option value="m">m</option>
                        <option value="lg">lg</option>
                        <option value="xl">xl</option>
                    </select>
                </div>
            </div>
        </div>

        <!--row 4 thru 7-->
        <div class="row mb-3">
            <div class="mb-3">
                <label for="course_history" class="form-label">Course History</label>
                <textarea id="course_history" class="form-control" name="course_history" value="" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label for="academic_progress" class="form-label">Current Academic Progress</label>
                <textarea id="academic_progress" class="form-control" name="academic_progress" value="" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label for="finances" class="form-label">Financial Need</label>
                <textarea id="finances" class="form-control" name="finances" value="" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label for="notes" class="form-label">Notes</label>
                <textarea id="notes" class="form-control" name="notes" value="" rows="4"></textarea>
            </div>
        </div>

        <!--go to confirmation page button-->
        <div class="row pt-4 pb-6">
            <div class="col-4"><!--empty--></div>
            <div class="col-4"><!--empty--></div>


            <div class="col-4 mt-auto" id="box-5">
                <button class="p-2 rounded btn btn-outline-secondary w-100 product-data-form-button"
                        id="next-button" type="submit">Continue
                </button>
            </div>
        </div>
    </form>
</div>

<include href="views/includes/footer.html"></include>

