
<!--
HTML markup for the Student Information Form page
Author: Anthony Gutierrez, Jo Cichon, Mehdi Jokar, Sayed Sadat
File: add-student.confirm.html
Date: 10/10/2023
-->

<include href="views/includes/header.html"></include>

<!--add new student form-->
<main class="container mb-5 student-tab tabs-body">
    <div class="container w-75">
        <br>
        <br>
    <h3>Confirm Student Data</h3>
    <hr>


        <!--row 1-->
        <div class="row pt-4">
            <!--col 1-->
            <div class="col-sm">
                <div class="container">
                    <div class="row mb-3">
                        <p>Student Id: {{ @SESSION.student->getCtclinkId() }} </p>
                    </div>
                    <div class="row mb-3">
                        <p>Student Name: {{ @SESSION.student->getFirstName() }} {{ @SESSION.student->getMiddleName() }}
                            {{ @SESSION.student->getLastName() }} ({{ @SESSION.student->getPronouns() }})</p>
                    </div>
                    <div class="row mb-3">
                        <p>Tribe: {{ @SESSION.student->getTribeName() }}</p>
                    </div>
                    <div class="row mb-3">
                        <p>CTE Program: {{ @SESSION.student->getCteProgram() }}</p>
                    </div>
                    <div class="row mb-3">
                        <p>Email: {{ @SESSION.student->getEmail() }}</p>
                    </div>
                    <div class="row mb-3">
                        <p>Phone Number: {{ @SESSION.student->getPhoneNumber() }}</p>
                    </div>
                    <div class="row mb-3">
                        <p>Clothing Size: {{ @SESSION.student->getClothingSize() }}</p>
                    </div>
                </div>
            </div>

            <!--row 1 col 2-->
            <!-- image upload -->
            <div class="col-sm mb-3">
                    <img src="images/woman_profile_anonymous.png" class="img-fluid rounded"
                         alt="monochromatic silhouette of woman">
            </div>
        </div>

        <!--row 2 thru 5-->
        <div class="row mb-3">
            <div class="col">
            <div class="container">
                <div class="mb-3">
                    <p>Course History: {{ @SESSION.student->getCourseHistory() }}</p>
                </div>

                <div class="mb-3">
                    <p>Current Academic Progress: {{ @SESSION.student->getAcademicProgress() }}</p>
                </div>

                <div class="mb-3">
                    <p>Financial Need: {{ @SESSION.student->getFinancialNeeds() }}</p>
                </div>

                <div class="mb-3">
                    <p>Notes: {{ @SESSION.student->getCases() }}</p>
                </div>
            </div>
        </div>
        </div>

        <!--confirm button-->
        <div class="row pt-4 pb-6 mb-3">
            <div class="col-4 mt-auto">
                <a href="add-student" class="p-2 rounded btn btn-outline-secondary w-100 product-data-form-button mb-3">Go Back</a>

            </div>
            <div class="col-4"><!--empty--></div>


            <div class="col-4 mt-auto" id="box-5">
                <form action="#" method="post">
                <button class="p-2 rounded btn btn-outline-secondary w-100 product-data-form-button mb-3"
                        id="next-button" type="submit">CONFIRM
                </button>
                </form>
            </div>

        </div>
</div>
</main>

<include href="views/includes/footer.html"></include>