
<!--
HTML markup for the Student Information Form page
Author: Anthony Gutierrez, Jo Cichon, Mehdi Jokar, Sayed Sadat
File: home.php
Date: 10/10/2023
-->

<include href="views/includes/header.html"></include>

<!--add new student form-->
<div class="p-4 container w-75">
    <h3>Add New Student</h3>
    <hr>

    <form action="#" method="post">

        <!--row 1-->
        <div class="row pt-4">
            <!--col 1-->
            <div class="col-sm">
                <div class="container">
                    <div class="row mb-3">
                        <check if="{{ isset(@SESSION.ctclink_id) }}">
                            <true>
                                <input type="text"
                                       class="form-control"
                                       name="ctclink_id" placeholder="Student ctcLink Id" value="{{ @SESSION.ctclink_id }}">
                            </true>
                            <false>
                                <input type="text"
                                       class="form-control"
                                       name="ctclink_id" placeholder="Student ctcLink Id">
                            </false>
                        </check>




                    </div>
                    <div class="row mb-3">
                        <check if="{{ isset(@SESSION.first_name) }}">
                            <true>
                                <input type="text"  class="form-control"
                                       name="first_name" placeholder="First Name" value="{{ @SESSION.first_name }}">
                            </true>
                            <false>
                                <input type="text"  class="form-control"
                                       name="first_name" placeholder="First Name" >
                            </false>
                        </check>





                        <!-- Display an error if there is one -->
                        <check if="{{ isset(@errors['first_name']) }}">
                            <span class="text-danger">{{ @errors['first_name'] }}</span>
                        </check>
                    </div>
                    <div class="row mb-3">
                        <check if="{{ isset(@SESSION.middle_name) }}">
                            <true>
                                <input type="text"  class="form-control"
                                       name="middle_name" placeholder="Middle Name" value="{{ @SESSION.middle_name }}">
                            </true>
                            <false>
                                <input type="text"  class="form-control"
                                       name="middle_name" placeholder="Middle Name">
                            </false>
                        </check>



                    </div>
                    <div class="row mb-3">
                        <check if="{{ isset(@SESSION.last_name) }}">
                            <true>
                                <input type="text"  class="form-control"
                                       name="last_name" placeholder="Last Name" value="{{ @SESSION.last_name }}">
                            </true>
                            <false>
                                <input type="text"  class="form-control"
                                       name="last_name" placeholder="Last Name">
                            </false>
                        </check>




                        <!-- Display an error if there is one -->
                        <check if="{{ isset(@errors['last_name']) }}">
                            <span class="text-danger">{{ @errors['last_name'] }}</span>
                        </check>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="pronouns">Pronouns</label>
                        <select class="form-select" id="pronouns" name="pronouns">
                            <check if="{{ isset(@SESSION.pronouns) }}">
                                <true>
                                    <option>select...</option>
                                    <repeat group="{{ @pronouns }}" value="{{ @pronoun }}">
                                        <check if="{{ @pronoun===@SESSION.pronouns }}">
                                        <true>
                                            <option value="{{ @pronoun }}" selected>{{ @pronoun }}</option>
                                        </true>
                                        <false>
                                            <option value="{{ @pronoun }}">{{ @pronoun }}</option>
                                        </false>
                                        </check>
                                    </repeat>
                                </true>
                                <false>
                                    <option selected>select...</option>
                                    <option value="they/them">they/them</option>
                                    <option value="she/her">she/her</option>
                                    <option value="he/him">he/him</option>
                                    <option value="other">other</option>
                                </false>
                            </check>

                        </select>

                        <check if="{{ isset(@errors['pronouns']) }}">
                            <span class="text-danger">{{ @errors['pronouns'] }}</span>
                        </check>
                    </div>
                </div>
            </div>

            <!--col 2-->
            <!-- image upload -->
            <div class="col-sm mb-3">
                    <textarea class="form-control" id="image_upload" rows="10"
                              placeholder="Upload image here..."></textarea>
            </div>
        </div>

        <!--row 2-->
        <div class="row mb-3">
            <div class="input-group mb-3">
                <label class="input-group-text" for="tribe_name">Tribe</label>
                <select class="form-select" id="tribe_name" name="tribe_name">
                    <check if="{{ isset(@SESSION.tribe_name) }}">
                        <true>
                            <option>select...</option>
                            <repeat group="{{ @tribes }}" value="{{ @tribe }}">
                                <check if="{{ @size===@SESSION.tribe_name }}">
                                <true>
                                    <option value="{{ @tribe }}" selected>{{ @tribe }}</option>
                                </true>
                                <false>
                                    <option value="{{ @tribe }}">{{ @tribe }}</option>
                                </false>
                                </check>
                            </repeat>
                        </true>
                        <false>
                            <option selected>select...</option>
                            <option value="Muckleshoot Indian Tribe">Muckleshoot Indian Tribe</option>
                            <option value="Cherokee Nation">Cherokee Nation</option>
                            <option value="Choctaw Nation">Choctaw Nation</option>
                            <option value="Choctaw Nation">Choctaw Nation</option>
                            <option value="Confederated Tribe of Colville">Confederated Tribe of Colville</option>
                            <option value="Navajo Nation">Navajo Nation</option>
                            <option value="Quileute Tribe">Quileute Tribe</option>
                            <option value="Suquamish Tribe">Suquamish Tribe</option>
                            <option value="Tlingit">Tlingit</option>
                            <option value="Blackfeet">Blackfeet</option>
                            <option value="Samish">Samish</option>
                            <option value="Snoqualmie">Snoqualmie</option>
                            <option value="Osage">Osage</option>
                            <option value="Potawatomie">Potawatomie</option>
                            <option value="Chicksaw">Chicksaw</option>
                            <option value="Standing Rock Sioux">Standing Rock Sioux</option>
                            <option value="Sioux">Sioux</option>
                        </false>
                    </check>

                </select>

                <check if="{{ isset(@errors['tribe_name']) }}">
                    <span class="text-danger">{{ @errors['tribe_name'] }}</span>
                </check>
            </div>
        </div>

        <!--row 3-->
        <div class="row mb-3">
            <div class="input-group mb-3">
                <label class="input-group-text" for="cte_program">CTE Program</label>
                <select class="form-select" id="cte_program" name="cte_program">
                    <check if="{{ isset(@SESSION.cte_program) }}">
                        <true>
                            <option>select...</option>
                            <repeat group="{{ @programs }}" value="{{ @program }}">
                                <check if="{{ @program===@SESSION.cte_program }}">
                                <true>
                                    <option value="{{ @program }}" selected>{{ @program }}</option>
                                </true>
                                <false>
                                    <option value="{{ @program }}">{{ @program }}</option>
                                </false>
                                </check>
                            </repeat>
                        </true>
                        <false>
                            <option selected>select...</option>
                            <option value="Forest Resource Management, BAS">Forest Resource Management, BAS</option>
                            <option value="Forestry, AAS">Forestry, AAS</option>
                            <option value="Geographic Information Systems, AAS">Geographic Information Systems, AAS</option>
                            <option value="Park Management, AAS">Park Management, AAS</option>
                            <option value="Water Quality, AAS">Water Quality, AAS</option>
                            <option value="Wildland Fire, AAS">Wildland Fire, AAS</option>
                            <option value="AAS-T">AAS-T</option>
                        </false>
                    </check>

                </select>

                <check if="{{ isset(@errors['cte_program']) }}">
                    <span class="text-danger">{{ @errors['cte_program'] }}</span>
                </check>
            </div>
        </div>


        <!--row 4-->
        <div class="row mb-3">
            <!-- email -->
            <div class="col-sm">
                <check if="{{ isset(@SESSION.email) }}">
                    <true>
                        <input type="email"  class="form-control"
                               name="email" placeholder="Email" value="{{ @SESSION.email }}">
                    </true>
                    <false>
                        <input type="email"  class="form-control"
                               name="email" placeholder="Email">
                    </false>
                </check>




                <check if="{{ isset(@errors['email']) }}">
                    <span class="text-danger">{{ @errors['email'] }}</span>
                </check>
            </div>
            <!-- phone -->
            <div class="col-sm">
                <check if="{{ isset(@SESSION.phone) }}">
                    <true>
                        <input type="tel"  class="form-control"
                               name="phone" placeholder="206-555-1234" pattern="(\(\d{3}\)\s*|\d{3}[-\s]?)\d{3}[-\s]?\d{4}" value="{{ @SESSION.phone }}">
                    </true>
                    <false>
                        <input type="tel"  class="form-control"
                               name="phone" placeholder="206-555-1234" pattern="(\(\d{3}\)\s*|\d{3}[-\s]?)\d{3}[-\s]?\d{4}">
                    </false>
                </check>




                <check if="{{ isset(@errors['phone']) }}">
                    <span class="text-danger">{{ @errors['phone'] }}</span>
                </check>
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="clothing_size">Clothing Size</label>
                    <select class="form-select" id="clothing_size" name="clothing_size">
                        <check if="{{ isset(@SESSION.clothing_size) }}">
                            <true>
                                <option>select...</option>
                                <repeat group="{{ @sizes }}" value="{{ @size }}">
                                <check if="{{ @size===@SESSION.clothing_size }}">
                                    <true>
                                        <option value="{{ @size }}" selected>{{ @size }}</option>
                                    </true>
                                    <false>
                                        <option value="{{ @size }}">{{ @size }}</option>
                                    </false>
                                </check>
                                </repeat>
                            </true>
                            <false>
                                <option selected>select...</option>
                                <option value="xs">xs</option>
                                <option value="s">s</option>
                                <option value="m">m</option>
                                <option value="lg">lg</option>
                                <option value="xl">xl</option>
                            </false>
                        </check>

                    </select>

                    <check if="{{ isset(@errors['clothing_size']) }}">
                        <span class="text-danger">{{ @errors['clothing_size'] }}</span>
                    </check>
                </div>
            </div>
        </div>

        <!--row 4 thru 7-->
        <div class="row mb-3">
            <div class="mb-3">

                <check if="{{ isset(@SESSION.course_history) }}">
                    <true>
                        <label for="course_history" class="form-label">Course History</label>
                        <textarea id="course_history"  class="form-control" name="course_history" rows="4" value="{{ @SESSION.course_history }}"></textarea>
                    </true>
                    <false>
                        <label for="course_history2" class="form-label">Course History</label>
                        <textarea id="course_history2"  class="form-control" name="course_history" rows="4"></textarea>
                    </false>
                </check>



            </div>
            <div class="mb-3">

                <check if="{{ isset(@SESSION.academics) }}">
                    <true>
                        <label for="academics" class="form-label">Current Academic Progress</label>
                        <textarea id="academics"  class="form-control" name="academics" rows="4" value="{{ @SESSION.academics }}"></textarea>
                    </true>
                    <false>
                        <label for="academics1" class="form-label">Current Academic Progress</label>
                        <textarea id="academics1"  class="form-control" name="academics" rows="4"></textarea>
                    </false>
                </check>



            </div>
            <div class="mb-3">

                <check if="{{ isset(@SESSION.finances) }}">
                    <true>
                        <label for="finances" class="form-label">Financial Need</label>
                        <textarea id="finances"  class="form-control" name="finances" rows="4" value="{{ @SESSION.finances }}"></textarea>
                    </true>
                    <false>
                        <label for="finances1" class="form-label">Financial Need</label>
                        <textarea id="finances1"  class="form-control" name="finances" rows="4"></textarea>
                    </false>
                </check>

            </div>
            <div class="mb-3">

                <check if="{{ isset(@SESSION.notes) }}">
                <true>
                    <label for="notes" class="form-label">Notes</label>
                    <textarea id="notes"  class="form-control" name="notes" rows="4" value="{{ @SESSION.notes }}"> </textarea>
                </true>
                <false>
                    <label for="notes1" class="form-label">Notes</label>
                    <textarea id="notes1"  class="form-control" name="notes" rows="4"> </textarea>
                </false>
                </check>
               



            </div>
        </div>

        <!--go to confirmation page button-->
        <div class="row pt-4 pb-6">
            <div class="col-4"><!--empty--></div>
            <div class="col-4"><!--empty--></div>


            <div class="col-4 mt-auto" id="box-5">
                <button class="p-2 rounded btn btn-outline-secondary w-100 product-data-form-button"
                        id="next-button" type="submit">Continue
                </button>
            </div>
        </div>
    </form>
</div>

<include href="views/includes/footer.html"></include>

