
<!--
HTML markup for the Student Information Form page
Author: Anthony Gutierrez, Jo Cichon, Mehdi Jokar, Sayed Sadat
File: add-student.confirm.html
Date: 10/10/2023
-->

<include href="views/includes/header.html"></include>

<!--add new student form-->
<main class="container mb-5 student-tab tabs-body">
  <div class="container w-75">
    <br>
    <br>
    <div class="row">
      <div class="col-9">
    <h3>{{ @SESSION.student->getLastName() }}, {{ @SESSION.student->getFirstName() }} {{ @SESSION.student->getMiddleName() }}
      <small>({{ @SESSION.student->getPronouns() }})</small></h3>
      </div>
    <!--Buttons-->
      <div class="col-3">
    <div class="float-end">
      <a class="btn btn-outline-secondary" href="student-list" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Go Back" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
        </svg>
      </a>
      <a class="btn btn-outline-secondary" href="update-student?id={{ @SESSION.student->getStudentId() }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Update Student" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </a>
      <a class="btn btn-outline-secondary" href="delete-student?id={{ @SESSION.student->getStudentId() }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete Student" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
      </a>
    </div>
    </div>
    </div>
    <hr>


    <!--row 1-->
    <div class="row pt-4">
      <!--col 1-->
      <div class="col-sm">
        <div class="container">
          <div class="row mb-3">
            <p><b>Student Id:</b> {{ @SESSION.student->getCtclinkId() }} </p>
          </div>
          <div class="row mb-3">
            <p><b>Tribe:</b> {{ @SESSION.student->getTribeName() }}</p>
          </div>
          <div class="row mb-3">
            <p><b>CTE Program:</b> {{ @SESSION.student->getCteProgram() }}</p>
          </div>
          <div class="row mb-3">
            <p><b>Email:</b> {{ @SESSION.student->getEmail() }}</p>
          </div>
          <div class="row mb-3">
            <p><b>Phone Number:</b> {{ @SESSION.student->getPhone() }}</p>
          </div>
          <div class="row mb-3">
            <p><b>Clothing Size:</b> {{ @SESSION.student->getClothingSize() }}</p>
          </div>
        </div>
      </div>

      <!--row 1 col 2-->
      <!-- image upload -->
      <div class="col-sm mb-3">
        <div class="row mb-3 float-right">
          <img src="data:image/png;base64,{{ base64_encode(@SESSION.student->getProfilePhoto()) }}" class="img-responsive img-thumbnail w-75 mx-auto"
               alt="{{ @SESSION.student->getFileName() }}">
        </div>
      </div>
    </div>

    <!--row 2 thru 5-->
    <div class="row mb-3">
      <div class="col">
        <div class="container">
          <div class="mb-3">
            <p><b>Course History:</b> {{ @SESSION.student->getCourseHistory() }}</p>
          </div>

          <div class="mb-3">
            <p><b>Current Academic Progress:</b> {{ @SESSION.student->getAcademicProgress() }}</p>
          </div>

          <div class="mb-3">
            <p><b>Financial Need:</b> {{ @SESSION.student->getFinancialNeeds() }}</p>
          </div>

          <div class="mb-3">
            <p><b>Notes:</b> {{ @SESSION.student->getCases() }}</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>

<include href="views/includes/footer.html"></include>