
<!--
HTML markup for the Student Information Form page
Author: Anthony Gutierrez, Jo Cichon, Mehdi Jokar, Sayed Sadat
File: add-student.confirm.html
Date: 10/10/2023
-->

<include href="views/includes/header.html"></include>

<!--add new student form-->
<main class="container mb-5 student-tab tabs-body">
  <div class="container w-75">
    <br>
    <br>
    <h3>{{ @SESSION.student->getFirstName() }} {{ @SESSION.student->getMiddleName() }}
      {{ @SESSION.student->getLastName() }}</h3>
    <hr>


    <!--row 1-->
    <div class="row pt-4">
      <!--col 1-->
      <div class="col-sm">
        <div class="container">
          <div class="row mb-3">
            <p><b>Student Id:</b> {{ @SESSION.student->getCtclinkId() }} </p>
          </div>
          <div class="row mb-3">
            <p><b>Student Name:</b> {{ @SESSION.student->getFirstName() }} {{ @SESSION.student->getMiddleName() }}
              {{ @SESSION.student->getLastName() }} ({{ @SESSION.student->getPronouns() }})</p>
          </div>
          <div class="row mb-3">
            <p><b>Tribe:</b> {{ @SESSION.student->getTribeName() }}</p>
          </div>
          <div class="row mb-3">
            <p><b>CTE Program:</b> {{ @SESSION.student->getCteProgram() }}</p>
          </div>
          <div class="row mb-3">
            <p><b>Email:</b> {{ @SESSION.student->getEmail() }}</p>
          </div>
          <div class="row mb-3">
            <p><b>Phone Number:</b> {{ @SESSION.student->getPhone() }}</p>
          </div>
          <div class="row mb-3">
            <p><b>Clothing Size:</b> {{ @SESSION.student->getClothingSize() }}</p>
          </div>
        </div>
      </div>

      <!--row 1 col 2-->
      <!-- image upload -->
      <div class="col-sm mb-3">
        <div class="row mb-3 float-right">
          <img src="data:image/png;base64,{{ base64_encode(@SESSION.student->getProfilePhoto()) }}" class="img-responsive img-thumbnail w-75 mx-auto"
               alt="{{ @SESSION.student->getFileName() }}">
        </div>
      </div>
    </div>

    <!--row 2 thru 5-->
    <div class="row mb-3">
      <div class="col">
        <div class="container">
          <div class="mb-3">
            <p><b>Course History:</b> {{ @SESSION.student->getCourseHistory() }}</p>
          </div>

          <div class="mb-3">
            <p><b>Current Academic Progress:</b> {{ @SESSION.student->getAcademicProgress() }}</p>
          </div>

          <div class="mb-3">
            <p><b>Financial Need:</b> {{ @SESSION.student->getFinancialNeeds() }}</p>
          </div>

          <div class="mb-3">
            <p><b>Notes:</b> {{ @SESSION.student->getCases() }}</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>

<include href="views/includes/footer.html"></include>