
<!--
HTML markup for the Case Management Home page
Author: Anthony Gutierrez, Jo Cichon, Mehdi Jokar, Sayed Sadat
File: home.html
Date: 10/10/2023
-->

<include href="views/includes/header.html"></include>

<!--The alert included for home page-->
<include href="views/includes/alert.html"></include>

<div class="container">
    <div class="text-center">
    <img src="images/IndigenousStudentBody.png" class="img-fluid my-3" alt="IndigenousStudentBody.png">
</div>
</div>

<include href="views/includes/footer.html"></include>
