<!--
HTML markup for the Case Management Home page
Author: Anthony Gutierrez, Jo Cichon, Mehdi Jokar, Sayed Sadat
File: home.html
Date: 10/10/2023
-->

<include href="views/includes/header.html"></include>
<div class="container">
    <h3 class="pb-2 ps-2 mb-4 border-bottom border-dark">STUDENT</h3>
    <div class="row">
        <div class="student-info col">
            <table class="table table-bordered">
                <caption class="text-center"><strong>Student List</strong></caption>
                <thead class="table-group-divider">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                </tr>
                <tr>
                    <td>Jane</td>
                    <td>Doe</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"><a href="#">Add New Student</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="#">View All</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="student-info col">
            <table class="table table-bordered">
                <caption class="text-center"><strong>Levels Of Concern</strong></caption>
                <thead class="table-group-divider">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Concern Level</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John Doe</td>
                    <td class="text-bg-danger p-3">RED</td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td class="text-bg-warning p-3">YELLOW</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"><a href="#">View All</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <h3 class="pb-2 ps-2 mb-4 border-bottom border-dark">APPOINTMENTS</h3>
    <div class="row">
        <div class="student-info col">
            <table class="table table-bordered">
                <caption class="text-center"><strong>Upcoming Appointments</strong></caption>
                <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>10/10/2023 @ 2:00pm</td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td>Cancelled</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"><a href="#">Add New Appointment</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="#">View All</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<include href="views/includes/footer.html"></include>