<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<body>
<h1>Summary</h1>
<p>Student ID: {{ @SESSION.studentID }}</p>
<p>Name: {{ @SESSION.name }}</p>
<p>Pronouns: {{ @SESSION.pronouns }}</p>
<p>Tribe: {{ @SESSION.tribe }}</p>
<p>Clothing Size: {{ @SESSION.clothingSize }}</p>
<p>Course History: {{ @SESSION.courseHistory }}</p>
<p>Academics: {{ @SESSION.academics }}</p>
<p>Finances: {{ @SESSION.finances }}</p>
<p>Case Notes: {{ @SESSION.caseNotes }}</p>
</body>
</html>
