<!--
HTML markup for the signup page
Author: Anthony Gutierrez, Jo Cichon, Mehdi Jokar, Sayed Sadat
File: signup.html
Date: 10/20/2023
-->

<include href="views/includes/header.html"></include>

<!--The alert included for home page-->
<include href="views/includes/alert.html"></include>

<main class="container mb-5 welcome-tab tabs-body">
    <div class="container w-75">
    <br>
    <br>
    <h3>Sign Up</h3>
    <br>
    <br>
    <form action="#" method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="first_name" class="form-label">First Name*</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name" required>

                <!-- Display an error if there is one -->
                <check if="{{ isset(@errors['first_name']) }}">
                    <span class="text-danger">{{ @errors['first_name'] }}</span>
                </check>
            </div>
            <div class="col-md-6 mb-3">
                <label for="last_name" class="form-label">Last Name*</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name" required>

                <!-- Display an error if there is one -->
                <check if="{{ isset(@errors['last_name']) }}">
                    <span class="text-danger">{{ @errors['last_name'] }}</span>
                </check>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email*</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>

            <!-- Display an error if there is one -->
            <check if="{{ isset(@errors['email']) }}">
                <span class="text-danger">{{ @errors['email'] }}</span>
            </check>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password*</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>

            <!-- Display an error if there is one -->
            <check if="{{ isset(@errors['password']) }}">
                <span class="text-danger">{{ @errors['password'] }}</span>
            </check>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password*</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>

            <!-- Display an error if there is one -->
            <check if="{{ isset(@errors['confirm_password']) }}">
                <span class="text-danger">{{ @errors['confirm_password'] }}</span>
            </check>
        </div>
        <button type="submit" class="btn btn-outline-secondary float-end">Sign Up</button>
        <br>
        <br>
        <br>
    </form>
    <br>
    <br>
</div>
</main>

<include href="views/includes/footer.html"></include>

